.projectDashboard {
  @import url('../../../../node_modules/nvd3/build/nv.d3.min.css');
  .row {
    padding: 20px;
  }
  .charts {
    box-shadow: 2px #eee 1rem;
    svg {
      display: block;
      // float: left;
      height: 350px !important;
      width: 350px !important;
    }
  }
}
